/* section-list Background-color #F5F5F5;*/
/* secti-list наша команда Background-color #F5F4FA;*/
/* Цвет героя и аутера Background-color #2F303A; */

/*  Цвет шрифтов */
/* основной цвет текста color #757575; */
/* Вторичный цвет текста зоголовка лого #212121; */
/* все кнопки в цвете #2196F3 */
/* телефон эмэил в футуре цвет rgba(255, 255, 255, 0.6);*/
/* Кнопка ботон в действии цвет #188CE8*/



body {
   color: #757575 ;
   text-decoration: none;
}

.lisl {
   list-style: none;
}


/* header */


.logocolor {
   color: #2196F3 ;
}
.logo {
   color: #000;
}

.nav .link {
   color:  #212121;
}
.nav .link:hover,
.nav .link:focus {
   color: #2196F3 ;
}

.auth-nav .auth-contacts {
   color:  #757575 ;
}
.auth-nav .auth-contacts:hover,
.auth-nav .auth-contacts:focus {
   color: #2196F3;
}

.hero-title {
   color: #ffffff ;
   background-color: #2F303A ;
}
.button {
   background-color: #2196F3 ;
   color: #ffffff;
}
.button:hover,
.button:focus {
   background-color: #188CE8;
}

.section-list.list {
  
   color: #212121 ;
}

.section .list{
   background-color: #F5F4FA ;
} 
.footer {
   background-color: #2F303A ;
}

.footer-maps .lisl {
   color: #ffffff;
}

